# Proyecto : Tablas con Pandas
Abner Casallo

En este proyecto mostraremos algunos casos en los que sí se podría obtener tablas de forma rápida solo suando Pandas

In [2]:
import pandas as pd

## Población

In [3]:
tabla_poblacion = pd.read_html("https://www.worldometers.info/world-population/population-by-country/")
tabla_poblacion[0]

,#,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
1,2,China,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
2,3,United States,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
3,4,Indonesia,277534122,0.74 %,2032783,153,1811570,-49997,2.1,30.0,59 %,3.45 %
4,5,Pakistan,240485658,1.98 %,4660796,312,770880,-165988,3.3,21.0,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
230,231,Falkland Islands,3791,0.29 %,11,0,12170,0,1.6,40.0,62 %,0.00 %
231,232,Niue,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
232,233,Tokelau,1893,1.18 %,22,189,10,0,2.6,27.0,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,1295,0,0,NaN,NaN,N.A.,0.00 %

## Covid

In [4]:
covid = pd.read_html("https://datosmacro.expansion.com/otros/coronavirus")
covid[0]

,Países,Fecha,Incremento Muertos,Muertos,Muertos / millón,Incremento Confirmados,Confirmados,Confirmados / 100.000 - 14 días
0,España [+],19/07/2023,0,121.852,"2.520,46",0,13.980.340,0
1,Alemania [+],06/09/2023,0,174.979,"2.074,22",0,38.437.756,0
2,Reino Unido [+],06/09/2023,0,228.924,"3.412,65",0,24.688.073,1138
3,Francia [+],06/09/2023,0,167.985,"2.467,80",0,38.997.490,0
4,Italia [+],06/09/2023,0,191.276,"3.250,19",0,25.955.703,2899
...,...,...,...,...,...,...,...,...
190,Samoa [+],06/09/2023,0,31,15500,0,16.778,0
191,Yemen [+],06/09/2023,0,2.159,6479,0,11.945,0
192,Sudáfrica [+],06/09/2023,0,102.595,"1.692,88",0,4.072.533,0
193,Zambia [+],06/09/2023,0,4.069,20895,0,349.287,0
194,Zimbabue [+],06/09/2023,0,5.717,35746,0,265.737,10

## Commodities: Petróleo

In [5]:
d = pd.read_html("https://cincodias.elpais.com/mercados/materias-primas/petroleo_brent/1/")
d[0]

         Fecha  Cierre  Var %  Máximo  Mínimo  Cambio neto
0   08-09-2023    9044     58    9102    8930           52
1   08-09-2023    9044     58    9102    8930           52
2   07-09-2023    8977    -92    9089    8946          -83
3   06-09-2023    9066     69    9110    8925           62
4   05-09-2023    9002    115    9115    8806          102
5   04-09-2023    8900     51    8922    8826           45
6   01-09-2023    8894    243    8899    8674          211
7   31-08-2023    8683    113    8694    8574           97
8   30-08-2023    8595     54    8623    8511           46
9   29-08-2023    8551    129    8565    8380          109
10  28-08-2023    8435    -15    8523    8411          -13
11  25-08-2023    8479    172    8497    8267          143
12  24-08-2023    8320     -1    8362    8197           -1
13  23-08-2023    8302   -120    8426    8194         -101
14  22-08-2023    8387    -70    8466    8385          -59
15  21-08-2023    8450    -35    8586    8431          -30
16  18-08-2023    8483     84    8508    8333           71
17  17-08-2023    8395     60    8488    8305           50
18  16-08-2023    8329   -189    8536    8313         -160
19  15-08-2023    8506   -133    8668    8429         -115
20  14-08-2023    8621    -69    8671    8550          -60
21  11-08-2023    8658     21    8735    8584           18
22  10-08-2023    8633   -139    8810    8620         -122
23  09-08-2023    8741    144    8765    8591          124
24  08-08-2023    8610     89    8634    8332           76
25  07-08-2023    8591    -38    8673    8503          -33
26  04-08-2023    8600    101    8665    8506           86
27  03-08-2023    8514    233    8541    8236          194
28  02-08-2023    8333   -186    8599    8274         -158
29  01-08-2023    8585     49    8591    8421           42
30  31-07-2023    8556     67    8580    8440           57
31  28-07-2023    8475     61    8509    8322           51
32  27-07-2023    8386    113    8450    8293           94
33  26-07-2023    8306    -69    8385    8258          -58
34  25-07-2023    8343     83    8387    8222           69
35  24-07-2023    8283    217    8316    8042          176
36  21-07-2023    8079    144    8124    7965          115
37  20-07-2023    7963     21    8027    7866           17
38  19-07-2023    7955    -10    8093    7917           -8
39  18-07-2023    7984    171    7999    7819          134
40  17-07-2023    7856   -164    8064    7825         -131