# Proyecto con Bsp: Tablas
Abner Casallo

Algo que es común es tratar de extraer tablas de páginas web. Esto se puede hacer principalmente de 2 formas: 1. Usando Beautiful Soup y 2. Usando directamente Pandas. Empezaremos con el primer caso.

In [18]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from datetime import datetime
##pip install

In [19]:

url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Estados_Unidos_por_poblaci%C3%B3n"
contenido = requests.get(url)
contenido

In [20]:
contenido=contenido.text
s = BeautifulSoup(contenido, 'html.parser')

In [21]:
for table in s.find_all('table'):
    print(table.get('class'))

['infobox']
['sortable']
['wikitable', 'sortable']
['wikitable']
['wikitable']

In [48]:

#  Looking for the table with the classes 'wikitable' and 'sortable'
tabla = s.find('table', class_='sortable')

df = pd.DataFrame(columns=['Ranking1', 'Ranking2', 'Ciudad', 'Estado', 'Población', 'Densidad'])

In [49]:

for row in tabla.tbody.find_all('tr'): 
    columns = row.find_all('td')
    if(columns != []):
        ranking1= columns[0].text.strip()
        #print(ranking1)
        ranking2 = columns[1].text.strip()
        #print(ranking2)
        ciudad = columns[2].text.strip()
        #print(ciudad)
        Estado = columns[3].text.strip()
        Población = columns[4].span.contents[0].strip('&0.')
        Densidad = columns[5].span.contents[0].strip('&0.')

        df = df.append({'Ranking1': ranking1,  'Ranking2': ranking2, 'Ciudad': ciudad,  'Estado': Estado, 'Población': Población, 'Densidad': Densidad}, ignore_index=True)

In [50]:
print(df)

    Ranking1 Ranking2       Ciudad       Estado Población Densidad
0        001    NY-01   Nueva York   Nueva York   8988326     5862
1        002    CA-01  Los Ángeles   California    398354   3092.3
2        003    IL-01      Chicago     Illinois   2746388  11841.8
3        004    TX-01      Houston        Texas    247237   3501.5
4        005    AZ-01      Phoenix      Arizona   1681687   2797.8
..       ...      ...          ...          ...       ...      ...
272      278    PA-04         Erie  Pensilvania    101786   5334.5
273      279    IN-04   South Bend      Indiana    101168   2440.3
274      280    CA-64    Daly City   California    101123    13195
275      281    CO-10   Centennial     Colorado    100377   3494.8
276      282    CA-65     Temecula   California    100097   3319.8

[277 rows x 6 columns]

## Usando Pandas
Una forma alternativa es usando Pandas. Sin embargo, es importante saber qué clase se tiene de lo contrario, podría arrojarnos datos defectuosos.

In [63]:
df2 = pd.read_html("https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Estados_Unidos_por_poblaci%C3%B3n")
df2[1]

,Ranking,Ranking.1,Ciudad,Estado,Población (2020),Densidad (por milla cuadrada)
0,1,NY-01,Nueva York,Nueva York,NaN,NaN
1,2,CA-01,Los Ángeles,California,NaN,NaN
2,3,IL-01,Chicago,Illinois,NaN,NaN
3,4,TX-01,Houston,Texas,NaN,NaN
4,5,AZ-01,Phoenix,Arizona,NaN,NaN
...,...,...,...,...,...,...
272,278,PA-04,Erie,Pensilvania,NaN,NaN
273,279,IN-04,South Bend,Indiana,NaN,NaN
274,280,CA-64,Daly City,California,NaN,NaN
275,281,CO-10,Centennial,Colorado,NaN,NaN
276,282,CA-65,Temecula,California,NaN,NaN

In [66]:
df2 = pd.read_html("https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Estados_Unidos_por_poblaci%C3%B3n", attrs = {'class': 'sortable'},  flavor='bs4')
df2[0]

,Ranking,Ranking.1,Ciudad,Estado,Población (2020),Densidad (por milla cuadrada)
0,1,NY-01,Nueva York,Nueva York,8 988 326,5862
1,2,CA-01,Los Ángeles,California,3 983 540,30923
2,3,IL-01,Chicago,Illinois,2 746 388,"11 841,8"
3,4,TX-01,Houston,Texas,2 472 370,35015
4,5,AZ-01,Phoenix,Arizona,1 681 687,27978
...,...,...,...,...,...,...
272,278,PA-04,Erie,Pensilvania,101 786,53345
273,279,IN-04,South Bend,Indiana,101 168,24403
274,280,CA-64,Daly City,California,101 123,13 195
275,281,CO-10,Centennial,Colorado,100 377,34948
276,282,CA-65,Temecula,California,100 097,33198